---
layout: default
---

<p>{{ site.tagline }}</p>

<ul class="mdc-list mdc-list--two-line">
  {% for tool_page in site.pages %}
    {% if tool_page.title %}
      <li class="mdc-list-item">
        <span class="mdc-list-item__ripple"></span>
        <span class="mdc-list-item__text">
          <a href="{{ tool_page.url }}">
            <span class="mdc-list-item__primary-text">{{ tool_page.title }}</span>
            <span class="mdc-list-item__secondary-text">{{ tool_page.tagline }}</span>
          </a>
        </span>
      </li>
    {% endif %}
  {% endfor %}
</ul>
