---
layout: default
---

<p>{{ site.tagline }}</p>

<form id="search-form">
  <div id="search-wrapper" class="mdc-text-field mdc-text-field--with-leading-icon mdc-text-field--filled">
    <i class="material-icons mdc-text-field__icon" aria-hidden="true">search</i>
    <input type="text" id="search" class="mdc-text-field__input">
    <label class="mdc-floating-label" for="search">Search for tool</label>
    <div class="mdc-line-ripple"></div>
  </div>
</form>

<script src="/shared/search.js?v={{site.time | date: '%s' }}" defer></script>

<ul id="tools" class="mdc-list mdc-list--two-line">
  {% for tool_page in site.pages %}
    {% if tool_page.dir != '/' %}
      <a href="{{ tool_page.url }}">
        <li class="mdc-list-item">
          <span class="mdc-list-item__ripple"></span>
          <span class="mdc-list-item__text">
            <span class="mdc-list-item__primary-text">{{ tool_page.title }}</span>
            <span class="mdc-list-item__secondary-text">{{ tool_page.tagline }}</span>
          </span>
        </li>
      </a>
    {% endif %}
  {% endfor %}
</ul>
