body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

main {
  width: 100%;
  max-width: 1200px;
}

.mdc-list a {
  text-decoration: none;
}

footer a {
  margin: .5rem;
}

footer a:not(:hover) {
  color: grey;
}

.pre-wrapper {
  position: relative;
}

.pre-wrapper .copy {
  position: absolute;
  top: .5rem;
  right: .5rem;
  cursor: pointer;
}

.description {
  width: 100%;
  max-width: 800px;
}

textarea#log-text, pre {
  min-height: 100px;
  width: 100%;
}

@media (max-width: 30em){
  h1.mdc-typography.mdc-typography--headline1 {
    font-size: 2.5em;
	width: 100%;
  }
}
