body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

main {
  max-width: 1200px;
}

.mdc-list-item__text a {
  text-decoration: none;
}

footer a {
  margin: .5rem;
}

footer a:not(:hover) {
  color: grey;
}

.pre-wrapper {
  position: relative;
}

.pre-wrapper .copy {
  position: absolute;
  top: .5rem;
  right: .5rem;
  cursor: pointer;
}

.description {
  max-width: 800px;
}
